!!! 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
        .page-width
          nav
            ul                
            - items.forEach(function(item){
                li= item['word']
            - })
            hr
    //iframe(src = 'http://www.google.com', width="100%",height="80%")
    //nope! frame in jade and html are different, so canonot show another page here...


