!!! 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h3 Please enter address like "http://gzgz.herokuapp.com/http://www.google.com" 
    #container!= body
